<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Meme Generator</title>
    <% include ./partials/header %>
</head>
<body>

<% include ./partials/navbar %>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2 bomber-block ">
        <h2 class="bomber-text">Meme Generator</h2>
        <hr class = "bomber-line" >

        <div class="row">
            <div class="col-sm-8">
                <p class="bomber-text">Génere ton Meme !</p>
                <br>
                <canvas id="memecanvas">
					Sorry, canvas not supported
				</canvas>

				<img id="start-image" src="/images/img4.jpg" alt="" />

				<input type="text" value="Le génie logiciel" id="top-text" />
				<input type="text" value="c'est vraiment tres chouette" id="bottom-text" />
				<p>Police : <select id = "police-text" onClick = "changePolice(this)">
				<%
					var tablePolice = ["Verdana","Times","Courier New","FreeMono","Comic Sans MS","Brush Script","Impact"]
					for(var j = 0; j<tablePolice.length ; j++){
				%>	
					<option id = "police-text" value = "<%=tablePolice[j]%>"><%=tablePolice[j]%></option>
				<%
					}
				%>
				</select></p>
				<a id="download">Télécharger</a>
				<br>
				<br>

				<input type="file" onchange="previewFile()">
				<br>
				<p> Ou choisi une image parmis les suivantes :</p>
				<% 
				if(files){
					for (var i = 0 ; i<files.length; i++){ 
				%>
					<img id = "little-image" src = "/images/<%=files[i]%>" onClick = "switchImg(this)">
				<%
					}
				}
				%>
            </div>
            <div class="col-sm-4 hidden-xs">
                
            </div>
        </div>
    </div>
   
</div>
<script src="/js/meme.js"></script>
<% include ./partials/footer %>

</body>
</html>
